#login_section  {
    width: 20%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


#cal_field {
    width: 90%;
    height: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#cal_button {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}